<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mystyle.css" />
        <title> {{object.name}} </title>
    </head>
    <body>
        <div class="controller">
            <h2> {{object.name}} </h2>
            <hr />
            <form method='post' action=''>{% csrf_token %}
                {{ form.as_p }}
                <input class="submit" type='submit' value="Send command to robot" />
            </form>
        </div>
<div class="box">
        {{object.thermometer_set.all.0.googleGraph|safe}}
</div>
    </body>
</html>
